.fightArea {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#achar,
#mostros {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liberar {
    width: 100%;
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 20px;
}

.liberar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
    width: 50%;
}

.log {
    border: 1px solid #999;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    list-style-type: none;
}

.log li {
    color: #333;
    margin-bottom: 5px;
}